<h3 style="padding-left: 15px; padding-top: 10px">Modelado - Análisis Numérico:</h3>
<div class="input-group col-md-4" style="padding-top: 10px">
  <input [(ngModel)]="funcionInput" type="text" class="form-control" placeholder="Ingresar fórmula"
    aria-label="Escribir fórmula" aria-describedby="basic-addon2">
</div>
<div class="input-group col-md-4" style="padding-top: 20px">
  <input [(ngModel)]="hInput" type="text" class="form-control" placeholder="Ingresar h" aria-label="Ingresar h"
    aria-describedby="basic-addon2">
</div>
<div class="input-group col-md-4" style="padding-top: 20px">
  <input [(ngModel)]="bInput" type="text" class="form-control" placeholder="Ingresar b" aria-label="Ingresar b"
    aria-describedby="basic-addon2">
</div>
<div class="input-group col-md-4" style="padding-top: 20px">
  <input [(ngModel)]="t0Input" type="text" class="form-control" placeholder="Ingresar t0" aria-label="Ingresar t0"
    aria-describedby="basic-addon2">
</div>
<div class="input-group col-md-4" style="padding-top: 20px">
  <input [(ngModel)]="x0Input" type="text" class="form-control" placeholder="Ingresar x0" aria-label="Ingresar x0"
    aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button type="submit" class="btn btn-outline-secondary" (click)="guardarFuncion()">Guardar</button>
  </div>
</div>

<!-- <div *ngIf="b !== 0"> -->
  <app-line-chart  ></app-line-chart>
  <app-line-chart1  ></app-line-chart1>
  <app-line-chart2  ></app-line-chart2>
<!-- </div> -->
<router-outlet></router-outlet>
